@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rajdhani:wght@500;600;700&display=swap');

body {
  background-color: #0b0f19; 
  color: #e2e8f0; 
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.font-tech {
  font-family: 'Rajdhani', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #374151; 
  -webkit-text-fill-color: #ffffff; 
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset; 
  transition: background-color 5000s ease-in-out 0s;
}